{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Cadastrar Operação | {{ block.super }}
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Cadastrar Operação</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'empresa:cliente:cliente_dashboard' cliente.empresa.pk cliente.pk %}">
                Dashboard
            </a>
        </li>
        <li><a href="{% url 'empresa:cliente:operacao_list' empresa.pk cliente.pk %}">Operações</a></li>
        <li class="active">Cadastro</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {% include 'alert.html' %}
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <a class="btn btn-sm btn-info" href="{% url 'empresa:cliente:operacao_list' empresa.pk cliente.pk %}">
                        <i class="fa fa-reply" aria-hidden="true"></i> 
                        Voltar
                    </a>
                </div>
                <div class="box-body table-responsive">
                    <form class="form" method="post">{% csrf_token %}
                        <div class="col-md-6 form-group{% if form.grupo.errors %} has-error{% endif %}">
                            <label for="{{ form.grupo.auto_id }}" class="control-label">
                                {{ form.grupo.label }}
                            </label>
                            {% render_field form.grupo class='form-control' %}
                            {% for error in form.grupo.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-6 form-group{% if form.intervalo.errors %} has-error{% endif %}">
                            <label for="{{ form.intervalo.auto_id }}" class="control-label">
                                {{ form.intervalo.label }}
                            </label>
                            {% render_field form.intervalo class='form-control' %}
                            {% for error in form.intervalo.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-2 form-group{% if form.codigo.errors %} has-error{% endif %}">
                            <label for="{{ form.codigo.auto_id }}" class="control-label">
                                {{ form.codigo.label }}
                            </label>
                            {% render_field form.codigo class='form-control' %}
                            {% for error in form.codigo.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-10 form-group{% if form.nome.errors %} has-error{% endif %}">
                            <label for="{{ form.nome.auto_id }}" class="control-label">
                                {{ form.nome.label }}
                            </label>
                            {% render_field form.nome class='form-control' %}
                            {% for error in form.nome.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-2 form-group{% if form.ativo.errors %} has-error{% endif %}">
                            <div class="checkbox">
                                <label for="{{ form.ativo.auto_id }}" class="control-label">
                                    {{ form.ativo.label }}
                                    {% render_field form.ativo class='checkbox' %}
                                </label>
                            </div>
                            {% for error in form.ativo.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> 
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
