{% for user_empresa in user.empresas.all %}
    {% for cliente in user_empresa.clientes.all %}
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-building" aria-hidden="true"></i>
            <span>{{ cliente }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'empresa:cliente:cliente_dashboard' user_empresa.empresa.pk cliente.pk  %}">
                    <i class="fa fa-tachometer"></i>
                    <span> Dashboard</span>
                </a>
            </li>
            {% if perms.cliente.view_unidade %}
            <li>
                <a href="{% url 'empresa:cliente:unidade_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    Unidades
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_atividade %}
            <li>
                <a href="{% url 'empresa:cliente:atividade_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    Departamentos
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_ambiente %}
            <li>
                <a href="{% url 'empresa:cliente:ambiente_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-square" aria-hidden="true"></i>
                    Ambientes
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_equipamento %}
            <li>
                <a href="{% url 'empresa:cliente:equipamento_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-television" aria-hidden="true"></i>
                    Equipamentos
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_operacaogrupo %}
            <li>
                <a href="{% url 'empresa:cliente:operacao_grupo_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Grupo de Operações
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_operacao %}
            <li>
                <a href="{% url 'empresa:cliente:operacao_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Operações
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_registromanutencao %}
            <li>
                <a href="{% url 'empresa:cliente:registro_manutencao_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Manutenções
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_registromanutencao %}
            <li>
                <a href="{% url 'empresa:cliente:relatorios' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    Relatório PMOC
                </a>
            </li>
            {% endif %}
            {% if perms.cliente.view_anexo %}
            <li>
                <a href="{% url 'empresa:cliente:anexo_list' user_empresa.empresa.pk cliente.pk %}">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    Anexos
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
{% endfor%}