{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Alterar senha {{ block.super }}
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Alterar sua senha</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'accounts:profile' %}">Perfil</a></li>
        <li class="active">Alterar senha</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {% include 'alert.html' %}
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <form class="form" method="post">{% csrf_token %}
                        {% for field in form %}
                        <div class="col-md-7 form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                            {% render_field field class='form-control' %}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> 
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
