{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Excluír Usuário | {{ block.super }}
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Excluír Usuário</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
        <li>
            <a href="{% url 'empresa:user_list' empresa.pk %}">
                Usuários
            </a>
        </li>
        <li class="active">Excluír</li>
    </ol>
</section>
<section class="content">
    {% include 'form_delete.html' %}
</section>
{% endblock %}