<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body table-responsive">
                <div class="col-md-4">
                    <form action="" method="post">{% csrf_token %}
                        <p>Tem certeza de que deseja Excluír "{{ object }}"?</p>
                        <input class="btn btn-sm btn-danger" type="submit" value="Confirmar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>