{% extends "login.html" %}
{% load widget_tweaks %}

{% block title %} Cadastrar nova senha | {{ block.super }} {% endblock %}

{% block content %}
    {% if validlink %}
        <p class="text-center">ALTERAR SENHA</p>
        <form class="form" method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p>
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                <div class="form-group has-feedback">
                    {% render_field field class="form-control" placeholder=field.label %}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
                </div>
            </div>
        </form>
    {% else %}
        <p class="text-center">ERRO AO DEFINIR SENHA</p>
        {% if messages %}
            {% for message in messages %}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        <p>
            O link de redefinição de senha foi inválido, possivelmente porque ele já foi usado. <a href="{% url 'password_reset' %}">Solicite uma nova redefinição de senha.</a>
        </p>
    {% endif %}
{% endblock %}
