{% extends "login.html" %}
{% load widget_tweaks %}

{% block title %} E-mail enviado | {{ block.super }} {% endblock %}



{% block content %}
<p class="text-center">SUA SOLICITAÇÃO FOI ENVIADA</p>
<hr>
<p class="text-justify">
    Um email foi enviado com as instruções para recuperar a sua senha.<br>
    Se você não receber o e-mail, por favor verifique se você digitou o endereço de email correto, e verifique também sua caixa de spam.
</p>
<p>
    Obrigado! <br>
    <small>Equipe Gestão PMOC.</small>
</p>
<hr>
<p class="text-center">
    <a href="{% url 'login' %}">Página de Login</a>
</p>
{% endblock %}
